img {
    width: 80px;
    height: 80px;

    border-radius: 50%;
    object-fit: cover;

    border: 4px solid rgba(255, 255, 255, 0.8);

    box-shadow:
            0 0 15px rgba(255, 255, 255, 0.9),
            0 10px 25px rgba(124, 179, 255, 0.3);

    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}